﻿@page
@model demosite.Pages.Rooms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Room.RoomID" />
            <div class="form-group">
                <label asp-for="Room.RoomName" class="control-label"></label>
                <input asp-for="Room.RoomName" class="form-control" />
                <span asp-validation-for="Room.RoomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Floor.FloorID" class="control-label"></label>
                <select asp-for="Room.FloorID" class="form-control"
                        asp-items="@Model.FloorIDSL">
                    <option value="">-- Select FloorID --</option>
                </select>
                <span asp-validation-for="Room.FloorID" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
