﻿@page "{id:int?}"
@model demosite.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Rooms";
}

<h2>Rooms</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RoomIDSort">
                @Html.DisplayNameFor(model => model.Room[0].RoomID)
                </a> 
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.RoomNameSort">
                @Html.DisplayNameFor(model => model.Room[0].RoomName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FloorNameSort">
                @Html.DisplayNameFor(model => model.Room[0].Floor.FloorID)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BNameSort">
                @Html.DisplayNameFor(model => model.Room[0].Floor.Building.BName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BAddressSort">
                @Html.DisplayNameFor(model => model.Room[0].Floor.Building.BAddress)
                </a>
</th>
            <t></t>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Room)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor.FloorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor.Building.BName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor.Building.BAddress)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoomID"> Details </a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomID"> Delete </a>
            </td>
        </tr>
        }
    </tbody>
</table>
